<!DOCTYPE html>
<html>
   <head>
       <style>
           body{
               background-color: seagreen;
           }
           h2,h3{
               color: whitesmoke ;
               text-align: center;
               font: 10px;
           }
           .logout {
            background-color:rgb(188, 206, 188);
            color: darkblue;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 20%;
            opacity: 0.9;
            }
          
       </style>
   </head>
   <body>
      <h2> Succesfully Created Your Page  </h2>
      <h3> Welcome {{f}} </h3>
      <form action = "/register" >
      <button type="submit"  class = "logout" value="Logout">Logout</button>
      
    </form>
    </body>